  <%= form_for @chirp do |f| %>
    <p class="lead">
      <%= f.label :title, "my status" %>
      <%= f.text_field :title, class: "form-control" %>
    </p>
    <p class="lead">
      <%= f.label :description, "what i'm doing" %>
      <%= f.text_field :description, class: "form-control" %>
    </p>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
